<div
  nzType="flex"
  nz-row
  nzAlign="middle"
  nzJustify="center"
>

  <form class="register-form" #form="ngForm">
    <h1>Register to Mykola's Shop</h1>
    <h4>Welcome. Nice to meet you!</h4>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your name!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            required
            [(ngModel)]="registerForm.name"
            name="name" placeholder="Name"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your login!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            required
            [(ngModel)]="registerForm.login"
            name="login" placeholder="Login"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your login!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="password"
            required
            nz-input
            [(ngModel)]="registerForm.password"
            name="password" placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <label
        name="isAdmin"
        nz-checkbox
        [(ngModel)]="registerForm.isAdmin"
      >Is Admin</label>
    </nz-form-item>

    <button
      [disabled]="!form.valid"
      type="submit"
      nz-button
      nzType="primary"
      nzBlock
      (click)="onRegister()"
    >Register</button>
    back to
    <a routerLink="/auth/login">login!</a>
  </form>

</div>
