<h1>{{asyncTitle | async}}</h1>
<select #sortField (change)="sortProducts(sortField.value, sortDirection.checked)">
  <option value="price">PRICE</option>
  <!-- Как-то маловато опций, может еще хотя бы имя добавить? -->
</select>
ASC
<input
  #sortDirection
  type="radio"
  name="direction"
  checked
  (change)="sortProducts(sortField.value, sortDirection.checked)"
>
DESC
<input
  type="radio"
  name="direction"
  (change)="sortProducts(sortField.value, sortDirection.checked)"
>

<div class="product-wrapper">
  <app-item
    *ngFor="let product of products"
    [product]="product"
    (buy)="cardService.addToCardProductIds($event)"
  >
  </app-item>
</div>
