<div class="card-header">
    <p routerLink="/about">about us</p>
    <p *ngIf="authService.isLoginnedAndNotAdmin()" routerLink="/orders">My Orders</p>
    <p *ngIf="authService.isLoginnedAndNotAdmin()" routerLink="/card-list" routerLinkActive="router-link-active" >
      Your card: {{cardService.itemsInCard > 0 ? "(" + cardService.itemsInCard + ")" + " items" : ''}}
      Total price: {{cardService.totalCost}}$
    </p>
  <p *ngIf="authService.isLoginnedAndAdmin()" routerLink="/admin" routerLinkActive="router-link-active" >
    Admin Panel
  </p>
    <span *ngIf="authService.isLogined; else login" (click)="onLogout()">Logout</span>
    <ng-template #login>
      <p routerLink="/auth/login" routerLinkActive="router-link-active" >Login</p>
    </ng-template>
</div>
