<form [formGroup]="loginForm" (ngSubmit)="onLogin()">

  <label>Login: </label>
  <input formControlName="login" placeholder="Login" />
  <span *ngIf="login.invalid && login.errors.required">
    login is required.
  </span>

  <br />
  <label>Password: </label>
  <input type="password" formControlName="password" placeholder="Password" />
  <span *ngIf="password.invalid && password.errors.required">
    password is required.
  </span>


  <br />
  <button [disabled]="!loginForm.valid" type="submit" class="login-form-button">Register</button>
</form>
